.vs/
.vscode/
*.user
*.suo
*.VC.db
*.opendb

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

plugin/build/
plugin/dist/
server/build/
server/dist/
launcher/build/
launcher/dist/
launcher/spec/
server/spec/

bundles/out/
playtest_logs/
server_state/

*.log
*.zip
*.7z

xOBSE-master/
xobse-source.zip
